body{
    margin: 0px;
    background-color: chocolate;
}



.modalWindow_container {

  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0px;
  left: 0px;
  z-index: 666;
  transition: opacity 0.4s;
}

.modalWindow {

  width: 300px;
  height: 300px;
  border-width: 5px 5px 5px rgba (0,0,0,0.3) ;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  padding: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.headstails {

  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-evenly;

}

.coin:hover {

  opacity: 0.5;

}

.coin:focus {     

  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);  
  
}

.button {

  cursor:pointer;
  background: #007ff7;
  color: white;
  padding: 5px;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  margin: 5px;

}


.board {

    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}


.column {

    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 72vh;
    width: 8vw;

}

.column:hover .row{

    background: rgb(10, 56, 84);
}


.row {
    border: 1px solid black;
    position: relative;
    z-index: 3;
    width: 8vw;
    height: 12vh;
    background: blue;
    -webkit-mask:radial-gradient(circle closest-side, transparent 80%, #fff 80%);
    
}

#box1x1 {

    border-radius: 0px 0px 0px 15px;

}

#box1x6 {

    border-radius: 15px 0px 0px 0px;

}

#box7x6 {

    border-radius: 0px 15px 0px 0px;

}

#box7x1 {

    border-radius: 0px 0px 15px 0px;

}

.piece {

    position: absolute;
    top:0;
    width: 8vw;
    height: 12vh;
    clip-path: circle(36% at 50% 50%);

}
.hidden {
    display: none;
}

.green{
    background-color: green;
}
.red{
    background-color: red;
}

.fall1 {
    animation-name: fall-animation1;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    clip-path: circle(40% at 50% 50%);

}

@keyframes fall-animation1 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(14vh);
  }
}

.fall2 {
    animation-name: fall-animation2;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    clip-path: circle(40% at 50% 50%);
}

@keyframes fall-animation2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(26vh);
  }
}

.fall3 {
    animation-name: fall-animation3;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    clip-path: circle(40% at 50% 50%);
}

@keyframes fall-animation3 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(38vh);
  }
}

.fall4 {
    animation-name: fall-animation4;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    clip-path: circle(40% at 50% 50%);
}

@keyframes fall-animation4 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50vh);
  }
}

.fall5 {
    animation-name: fall-animation5;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    clip-path: circle(40% at 50% 50%);
}

@keyframes fall-animation5 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(62vh);
  }
}

.fall6 {
    animation-name: fall-animation6;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    clip-path: circle(40% at 50% 50%);
}

@keyframes fall-animation6 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(74vh);
  }
}